<!DOCTYPE html>
<html lang="ja" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>ちはそのメモアプリ_メモ<%=@num%></title>
    <link rel="stylesheet" type="text/css" href="./css/general.css">
  </head>

  <body>
    <article>
      <h1>MEMO</h1>
      <h2>メモ<%=@num%>:</h2>
      <% memo_text = File.open("./memo_data/#{@num}").read.gsub("\n", "<br>") %>
      <p class="memo_text"><%=memo_text%></p>
      <div class="buttons">
        <a href="/edit_<%=@num%>"><input type="button" value="編集" class="button edit"></a>
        <form method=post action="/delete_<%=@num%>">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="削除" class="button delete">
        </form>
      </div>
    </article>
  </body>
